@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


    body {
        background-color: #f7f6f6;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Inter', sans-serif;
    }

    #imgLogo{
        margin: 5px 5px 5px 5px;
    }
    
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        align-items: center;
        overflow: hidden;
        transition: all .5s;
    }
    
    nav {
        background-color: #f7f6f6;
        padding: 0;
        justify-content: space-between;
        
    }
    
    nav, ul{
        display: flex;
        flex-direction: row;
        padding-top: 0;
    }

    li p{
        margin: 30px 0 0 0;
    }
    
    li {
        padding: 0 20px;
        text-align: center;
        height: 100%;
    }
    
    li:hover{
        color: #fbb400;
        background-color: #1c1c52;
        
    }

    #btnSeeMore:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    
    #btnSeeMore {
        background-color: transparent;
        border: none;
        font-size: 36px;
        position: absolute;
        right: 10px;
        top: 30px;
        display: none;
    }
    
    #btnSeeMore:focus ~ ul {
        height: 250px;
    }
 
    @media (max-width: 760px) {
    nav, ul{
        flex-direction: column;
    }
    ul{
        text-align: center;
        margin: 10px;
        height: 0;
    }
    nav{
        padding: 0;
        align-items: flex-start;

    
    }
    #imgLogo{
        margin: 10px;
    }
    #btnSeeMore{
        display: flex;
        align-items: center;
    }
    li, ul{
        width: 100%;
    }
    li:hover{
        color: #fbb400;
        background-color: #1c1c52;
    }
}


/* main image */

.mainImage{
    position: relative;
    background: url(img/mainImageLarge.jpg) no-repeat center;
    background-size: contain;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.mainImage .container{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   color: #fff;
   font-weight: 700;
}


.textTitle{
    margin: 5px;
    display: block;
    font-size: 35px;
    color: #fbb400;
    
}

.textPrice{
    display: block;
    font-size: 20px;
    font-weight: bolder;
}

.text{
    display: block;
    margin: 30px 0 30px 0;
}

.mainImage .container .btnLink{
    color: black;
    padding: 10px 20px;
    background-color: #fbb400;
    text-decoration: none;
    border-radius: 5px;
    transition: .6s;
}

.btnLink:hover{
    opacity: .6;
}

/* @media screen and (max-width: 760px){
    .mainImage{
       
        background-size: cover;
    }
    .textTitle{
        display: block;
        font-size: 20px;
        
    }
    
    .textPrice{
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .text{
        display: block;
        inline-size: 360px;
        font-size: 12px;
    }
} */

/* @media screen and (max-width: 364px){
    .text{
        display: block;
        inline-size: 300px;
        font-size: 12px;
        height: 850px;
    }

} */


/* products */

.mainProducts{
    display: flex;
    height: auto;
    justify-content: center;
    margin: 0;
    padding: 0;
    
    
}

.mainProducts .card{
    display: inline-flex;
    position: relative;
    object-fit: contain;
    background-color: white;
    width: 300px;
    height: 450px;
    border-radius: 12px;
    margin: 55px 20px 0px 20px;
    box-shadow: 4px 4px 12px #aaa;
}

.card img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

.dataCard{
    position: absolute;
    display: inline;
    align-items: center; 
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.dataCard h1{
    text-align: center;
    margin: 40px;
    font-size: 20px;
    inline-size: 500px;
}

.btnData{
    position: absolute;
    display: inline;
    align-items: center;
    top: 90%; 
    left: 50%;
    transform: translateX(-50%);
}

#btnMoreInformation{
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid #1c1c52;
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
}

#btnMoreInformation:hover{
    background-color: #1c1c52;
    color: #fbb400;
}


.information{
    display: inline;
    flex-direction: column;
    margin: 50px 20px 0px 20px;
    text-align: center;
}

.information p{
    display: inline-flex;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%);
    inline-size: 850px;
    text-align: center;
    font-size: 16px;
    margin: 20px;
}

.btnProductsPage{
    display: inline;
    
}

#btnMoreProdutcs {
    box-shadow: 3px 3px 6px #aaa;
    padding: 10px 20px;
    margin: 30px 0 50px 0;
    border: none;
    background-color: #1c1c52;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .6s;
}

#btnMoreProdutcs:hover{
    opacity: .6;
}

@media screen and (max-width: 728px){
    .container{
        inline-size: 300px;
    }
    .container .text{
        font-size: 14px;
    }
    .container .textPrice{
        font-size: 18px;
    }
    .container .textTitle{
        font-size: 22px;
    }
    .mainImage{
        width: 100%;
        background-size: cover;
        
    }
    .information{
        display: flex;
    }

    .information h1{ 
        margin: 0px 0px 80px 0px;
        font-size: 18px; 
    }
    .information p{
        position: relative;
        max-width: 250px;
        font-size: 16px;
        margin: 0px 0px 10px 0px;
    }
    .mainProducts{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .mainProducts .card{
        margin: 35px 0px 0px 0px;
        width: 200px;
        height: 390px;
        inline-size: 300px;
    }
    .btnProductsPage{
        margin: 0px 0px 0px 10px;
    }
   

}

/* @media (min-width: 321px) and (max-width: 376px){
    .mainImage{
        width: 100%;
        background-size: cover;
        
    }
    .information{
        margin: 0;
    }
    .information p{
        display: block;
        position: relative;
        align-items: center;
        font-size: 14px;
        margin: 0;
        margin-right: 0;
    }
    .information h1{
        font-size: 18px;
        margin: 0;
    }
    .mainProducts{
        display: flex;
        flex-direction: column;
        
    }
    .mainProducts .card{
        margin: 35px 0px 0px 0px;
        width: 200px;
        height: 390px;
        inline-size: 300px;
    }
    .btnProductsPage{
        margin: 0px 0px 0px 10px;
    }
}

@media (min-width: 376px) and (max-width: 426px){
        .mainImage{
        width: 100%;
        background-size: cover;
        
    }
    .information{
        margin: 0;
    }
    .information p{
        display: flex;
        position: relative;
        align-items: center;
        inline-size: 300px;
        font-size: 14px;
        margin: 55px 0px 0px 0px;
        margin-right: 0;
    }
    .information h1{
        font-size: 18px;
        inline-size: 300px;
        margin: 10px 0px 55px 0px;
    }
    .mainProducts{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .mainProducts .card{
        margin: 35px 0px 0px 0px;
        width: 200px;
        height: 390px;
        inline-size: 300px;
    }
    .btnProductsPage{
        margin: 0px 0px 0px 10px;
    }
} */









 
 