@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    box-sizing: border-box;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding: 0;
    align-items: center;
    overflow: hidden;
    transition: all .5s;
}

nav {
    background-color: white;
    padding: 0 20px;
    justify-content: space-between;
}

nav, ul{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

li {
    padding: 0 20px;
}

li:hover,
button:hover{
    cursor: pointer;
    opacity: 0.8;
}

#btnHeader {
    background-color: transparent;
    border: none;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 30px;
    display: none;
}

#btnHeader:focus ~ ul {
    height: 250px;
}

@media (max-width: 760px) {
nav, ul{
    flex-direction: column;
}
ul{
    text-align: center;
    margin: 10px;
    height: 0;
}
nav{
    width: 100%;
    padding: 0;
    align-items: flex-start;

}
#imgLogo{
    margin: 10px;
}
#btnHeader{
    display: flex;
    align-items: center;
}
li, ul{
    width: 100%;
}
li:hover{
    background-color: rgba(43, 43, 43, 0.2);
}
}

.aprImg{
object-fit: contain;

}

.nav-produtos{
width: 100%;
}


/* section */

.container{
    position: relative;
    min-height: 100vh;
}

.navFilter{
    width: 230px;
    height: auto;
    margin: 5% 0px 0px 6%;
    display: inline-block;
}

.filterBox{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px #aaaaaa;
    font-size: 20px;
    display: flex;
    max-width: 250px;
    height: auto;
    border-radius: 4px;
}


#btnSearch{
    border: none;
    background-color: rgb(255, 217, 0);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;  
}


.section{
    width: 1000px;
    background-color: blueviolet;
    margin: 5% 0px 0px 4%;
    display: inline-flex;
    position: absolute;
    justify-content: space-between;
    
}

.card{
    background-color: black;
    height: 370px;
    width: 250px;
}



/* footer */


#footer{
    position: absolute;
    width: 100;
    margin-bottom: 0;
    
}

#footerContent{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}

footerContacts{
    margin-bottom: 0.75rem;
}

#footerSocialMedia{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}
#footerSocialMedia .footerLink i{
    font-size: 1.25rem;
}


#footerSocialMedia .footerLink{
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:  #ff9807;
    transition: all 0.4s;
}

#footerSocialMedia:hover{
    opacity: 0.8;
}

.footerList{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    
    
}a{
    text-decoration: none;
    color: white;
}

#footerCopyright{
    display: flex;
    justify-content: center;
    background-color: #ff9807;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footerContent{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px){
    #footerContent{
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 2rem;
    }
}











