body {
    background-color: #f7f6f6 !important;
    margin: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#imgLogo {
    margin: 5px 5px 5px 5px;
}

#navbarNavAltMarkup {
    margin: 0px 0px 0px 20px;
}

.navbar-nav {
    font-size: 20px;
}

.navbar {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar-nav a:hover {
    color: #fbb400;
}

.container {
    /* margin: 50px 0px 100px 0px; */
    max-width: 100% !important;
    height: 100%;
    display: flex;
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.formHeader {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.inputGroup {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

#productName {
    width: 576px;
}

#choose{
    background-color: rgb(228, 224, 224);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    border-radius: 5px;
    padding: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.377);
    transition: .6s;
}

#choose:hover{
    opacity: 0.6;
}

#update{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 50%;  
    box-shadow: 3px 3px 6px #aaa;
    padding: 10px 20px;
    border: none;
    background-color: #1c1c52;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .6s;
    margin-top: 10px !important;
}

#update:hover{
    opacity: 0.6
}

#btnMoreProdutcs {
    box-shadow: 3px 3px 6px #aaa;
    padding: 10px 20px;
    margin: 30px 0 50px 0;
    border: none;
    background-color: #1c1c52;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: .6s;
}

#btnMoreProdutcs:hover{
    opacity: .6;
}


.inputGroup input {
    border-radius: 5px;
    padding: 3px;
    border: 0.5px solid rgba(0, 0, 0, 0.377);
}

.returnBtn button {
    color: black;
    padding: 3px 15px;
    background-color: #fbb400;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: .6s;
}

.returnBtn a{
   color: black;
   text-decoration: none;
}

.addMore{
    text-align: center;
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}