body{
    background-color: #f7f6f6 !important;
    margin: 0;
    font-family: sans-serif;
}

#imgLogo{
    margin: 5px 5px 5px 5px;
}
#navbarNavAltMarkup{
    margin: 0px 0px 0px 20px;
}
.navbar-nav{
    
    font-size: 20px;
}
.navbar{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-nav a:hover{
    color: #fbb400;
}

table{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: white;  
  width: 99%;
  table-layout: fixed;
  
}

td{
    border: 1px solid rgba(0, 0, 0, 0.164) !important;
}

tr{
    text-align: center;
    align-items: center;
}
th{

    top: 0;
    background-color: #f6f9fc;
    font-size: 15px; 
}

th,td{
    padding: 10px;
    word-break: all;
}



#btnAdd a{
    text-decoration: none;
    color: #000000;
}

#btnAdd{
    /* background-color: rgb(49, 255, 8); */
    background-color: lightgray;
    margin: 25px 0px 5px 10px;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid;}


.btnContainer{
    align-items: center;
    display: flex;
    flex-direction: column
}

#btnAction{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    width: 100px;
}

#btnAction a{
    text-decoration: none;
    color: #000000;
}

#btnAction a:hover{
    opacity: 0.6;
}
@media (max-width: 768px) {
    td{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 !important;
    }
    #thead{
        display: none;
    }
   
}
